


<div class="general" >
    <div class="rec-1">
        <div class="imagen">
            <img src="assets/img/diagnostico.png">
        </div>
        <div class="titulo-diagnostico">
            <h1 class="titulo-pediatrico">
               Diagnóstico del Cancer Pediátrico 
            </h1>
        </div>
       <!-- <div>
            <button type="reset" class="btn btn-danger" style="width:40%;">
                <i class="fa fa-ban"></i>Regresar</button>
        </div>-->
        
    </div>
    <div class="rec-2">
        <div class="titulo-cancer">
            <h2>
                CÁNCER : LEUCEMIA
            </h2>
        </div>
        <br>
        <div class="resultados">
            <h2 class="tipo-leucemia">
                Leucemia linfocítica crónica  o CLL
            </h2>
        </div>
        <div class="sint-sig">
            <div class="blanco">

            </div>
            <div class="sintomas">
                 
                <h2 class="titulo-sintomas">Síntomas</h2>
                <br>
                <br>
                <div *ngIf=" !isPatient && showCll==false" ></div>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.symptom.NightSweats==true"> Sudores nocturnos </h4>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.symptom.FeelingFull==true">Sensación de saciedad </h4>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.symptom.InfectionOfTheSkinLungsKidneysOrOtherOrgans==true">Infección de la piel, pulmones, riñones u otros órganos </h4>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.symptom.ShortOfBreath==true">Falta de aliento </h4>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.symptom.Exhausted==true">Cansancio extremo </h4>
            </div>
            <div class="signos">
                <h2 class="titulo-signos">Signos</h2>
                <div *ngIf=" !isPatient && showCll==false" ></div>
                <br>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.sign.Fatigue==true">Fatiga</h4>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.sign.ShortnessOfBreathDuringActivities==true">Falta de aliento durante las actividades</h4>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.sign.EnlargedLymphNodes==true">Agrandamiento de los ganglios linfáticos </h4>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.sign.LowGradeFever==true">Fiebre de bajo grado </h4>
                <h4 class="sintomas-signos" *ngIf=" !isPatient && showCll==false && cll.sign.Weightloss==true">Pérdida de peso </h4>
            </div>
        </div>
    </div>
    <div class="rec-3">
        <div class="tratamiento">
            <div class="text-tratamiento">
                <button id="boton-tratamiento" type="submit">
                  TRATAMIENTO
                </button>
        </div>

        </div>
        <div class="estadio">
            <h2 class="estadio-nombre">Estadio: </h2>
            <h2 class="estadio-positivo">Negativo</h2>
            
        </div>
        <div class="blanco">

        </div>
        <div class="pre">
          <h5 class="pre-descripcion">Se tiene una probabilidad del 92.86% que el paciente no padece de la enfermedad de la leucemia linfocítica crónica (CLL)</h5>
        </div>
        <div class="descrip">
            <div class="blanco"></div>
            <div class="t-descripcion">
              <h2>Sugerencias de evaluación</h2>  
            </div>
            <div class="p-descripcion">
                <p>
                    En base a los parámetros ingresados, se tiene como resultado de que el paciente tiene una baja probabilidad de padecer leucemia, con una precisión del 92.86%. 
                <br> <br> <br>
                Se recomienda realizar nuevamente una evaluación al paciente para determinar el tipo de enfermedad que padece.
                </p>
            </div>
        </div>
        <div class="blanco"></div>

        </div>
</div>


