

<div>
    <div class="general" *ngIf="showGeneral==true" >
        <div class="rec-1">
            <div class="imagen">
                <img src="assets/img/diagnostico.png">
            </div>
            <div class="titulo-diagnostico">
                <h1 class="titulo-pediatrico">
                   Diagnóstico del Cáncer Pediátrico 
                </h1>
            </div>
            
        </div>
        <div class="rec-2">
            <div class="titulo-cancer">
                <h2>
                    CÁNCER : LEUCEMIA
                </h2>
            </div>
            <br>
            <div class="resultados">
                <h2 class="tipo-leucemia">
                    Leucemia Mieloide Crónica o CML
                </h2>
            </div>
            <div class="sint-sig">
                <div class="blanco">
                </div>
                <!--//! -->
                <div class="symtomps">             
                    <input type="checkbox" id="title4" />
                    
                    <label for="title4">General</label>
                    
                    <div class="content">
                        <br><br><br><br><br><br>
                        <h4 class="sintomas-signos" *ngIf="cml.general.DNADamage==true">Lesión en el ADN</h4>
                        <h4 class="sintomas-signos" *ngIf="cml.general.RadiationExposure==true">Exposición a la radiación</h4>
                        </div>
                </div>     
    <!--//! -->
    <br>
    <br>
             <div class="symtomps">             
                <input type="checkbox" id="title1" />
                <label for="title1">Sintomas</label>
                <div class="content">
                    <br>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.FeelingTired==true">Sensación de cansancio</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.Dizziness==true">Mareos</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.Fever==true">Fiebre Prolongada</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.Headache==true">Dolor de cabeza</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.Drowsiness==true">Somnolencia</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.BlurryVision==true">Visión borrosa</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.PainOrAFeelingOfFullnessUnderTheRibs==true">Dolor o sensación de saciedad debajo de las costillas, en el lado izquierdo debido al agrandamiento del bazo </h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.ShortnessOfBreathDuringBasicDailyActivities==true">Falta de aliento durante las actividades cotidianas básicas</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.Weakness==true">Debilidad</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.symptom.Fatigue==true">Fatiga</h4>
                 </div>
            </div>  
            <br>
    <br>
                <!--//! -->
            <div class="symtomps">   
                <input type="checkbox" id="title2" />
                <label for="title2">Signos</label>
                <div class="content">
                    <br><br><br>
                    <h4 class="sintomas-signos" *ngIf=" cml.sign.UnexplainedWeightLoss==true">Pérdida de peso</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.sign.Pallor==true">Palidez</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.sign.Bruising==true">Hematomas</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.sign.GumOrNoseBleeds==true">Hemorragias en encías o nasal</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.sign.Infections==true">Infecciones</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.sign.DisseminatedNodules==true">Nódulos diseminados</h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.sign.SwollenGums==true">Inflamación de las encías </h4>
                    <h4 class="sintomas-signos" *ngIf=" cml.sign.ProlongedBleedingFromMinorCuts==true">Sangrado prolongado por cortaduras leves </h4> </div>
            </div>  
            <br>
    <br>
                 <!--//! -->
                 <div class="symtomps">   
                    <input type="checkbox" id="title3" />
                    <label for="title3">Resultados de laboratorio</label>
                    <div class="content">
                        <br><br><br><br><br>
                     <h4 class="sintomas-signos" *ngIf="  cml.labResult.HigherWhiteBloodCellCounts==true">Recuentos de leucocitos más elevados (200X109/L)
                    </h4>
                        <h4 class="sintomas-signos" *ngIf="  cml.labResult.PhiladelphiaChromosome==true">Cromosoma Filadelfia (Ph)</h4>
                        <h4 class="sintomas-signos" *ngIf="  cml.labResult.FusionGeneBCRABL1==true">Gen de fusión BCRABL1</h4>
                        <h4 class="sintomas-signos" *ngIf="  cml.labResult.InsufficientAmountOfRedBloodCells==true">Cantidad insuficiente de glóbulos rojos</h4>
                        <h4 class="sintomas-signos" *ngIf="  cml.labResult.ElevatedNumberOfWhiteBloodCells==true">Cantidad elevada de glóbulos blancos</h4>
                    </div>
                </div>  
             
                 
            </div>
        </div>
        <div class="rec-3">
            
            <div class="estadio">
                <h2 class="estadio-nombre">Estado: </h2>
                <h2 class="estadio-positivo">Positivo</h2>
                
            </div>
            <div class="blanco">
    
            </div>
            <div class="pre">
                <h5 class="pre-descripcion">Se tiene una precisión del 92.86% que el paciente padece de la enfermedad de la leucemia mieloide crónica (CML)</h5>
              </div>
              <div class="descrip">
                <div class="blanco"></div>
                <div class="t-descripcion">
                  <h2>Descripción</h2>  
                </div>
                <div class="p-descripcion">
                    <p>
                        La leucemia mieloide crónica (CML) es un tipo de cáncer que comienza en la médula ósea e invade la sangre. 
                    <br> <br> <br>
                    Se conoce también con otros nombres, entre ellos, leucemia mielógena crónica y leucemia granulocítica crónica. 
                    </p>
                </div>
            </div>
            <div class="blanco"></div>
                <div class="tratamiento">
                    <div>
                        <button  type="submit" class="button-tratamiento" (click)="onSendCardsTratamientoAll()" > TRATAMIENTO  </button>   
                   </div>
                </div>
        </div>
          
    </div>
    <app-detalletratamientocml *ngIf="showGeneral==false"></app-detalletratamientocml>
    </div>
    
    