
<div class="general">
    <div class="rec-1">
        <div class="imagen">
            <img src="assets/img/treatment.png">
        </div>
        <div class="titulo-diagnostico">
            <h1 class="titulo-pediatrico">
                Tratamiento del Cáncer Pediátrico
            </h1>
        </div>
        <div class="imagen-2">
            <img src="assets/img/treatment.png">
        </div>
    </div>
    <div class="rec-5">
        <div class="cancer-leucemia">
            <h2>CÁNCER: LEUCEMIA</h2>
        </div>
    </div>
    <div class="rec-2">
        <div class="titulo-cancer">
            <h2>  Leucemia Mileoide Aguda</h2>
        </div>
        <div class="titulo-resultados">
            <h2 class="estadio-nombre">Estado: </h2>
            <h2 class="estadio-positivo">Positivo</h2>   
        </div>
        
    </div>
    <div class="rec-4">
        <div class="descripcion-resultados">
            <hr width="65%"  color="black"/>
         </div>
    </div>
    
    
    <div class="rec-3">
        <!--//! FALTA -->
        <div class="titulo-tratamiento">
            
            <h2>Sugerencias de tratamiento:</h2>
        </div>
        
        <div class="detalle-quimioterapia">
            <div class="fadeTexto">
            <h5>Para este tipo de leucemia, existen 4 tipos de tratamiento.</h5>
            <br>
            <h5> — Quimioterapia, donde se utilizan medicamente para interrumpir la formación de células cancerosas con </h5>
            <h5 class="quimio-tep">el fin de destruirlos. </h5>
            <br> <br>
            <h5> — Radioterapia, donde se utilizan rayos X de alta energía u otro tipo de radiación para destruir las  </h5>
            <h5 class="quimio-tep">células cancerosas.</h5>
            <br>
            <h5 class="quimio-tep">Se tiene dos tipos: </h5>
            <h5 class="quimio-tep"> <i class="fas fa-genderless"></i> Radioterapia interna, donde se utiliza una sustancia radioactiva sellada que se coloca directo al cáncer.</h5>
            <h5 class="quimio-tep"> <i class="fas fa-genderless"></i> Radioterapia externa, donde se utiliza una máquina que envía radiación alcáncer. </h5>
            <br><br>
            <h5> — Trasplante de células madre, donde tiene como objetivo destruir las células cancerosas y otras  </h5>
            <h5 class="quimio-tep">células sanguíneas.</h5>
            <h5 class="quimio-tep">En este tipo de tratamiento, destruye las células sanas. </h5>
            <br><br>
            <h5> — Terapia dirigida, donde se utilizan medicamentos y otras sustancias con e fin de
                identificar y atacar   </h5>
                <h5 class="quimio-tep">estas células.</h5>

                <br>
                <h5> Existen diversos tipos.</h5>
               
                <h5 class="quimio-tep"> <i class="fas fa-genderless"></i> Terapia con inhibidoras de la tirosina cinasa (ITC), donde se bloquea las señales que necesitan los tumores </h5>
                <h5 class="sub-quimio-tep">para su crecimiento.</h5>
                    
                <h5 class="quimio-tep"> <i class="fas fa-genderless"></i> Terapia con anticuerpos monoclonales, donde se utilizan anticuerpos producidos en un laboratorio mediante</h5>
                <h5 class="sub-quimio-tep"> una célula del sistema inmunitario.</h5>

                        <br>
                        <br>
          
        </div>
        
    </div>
</div>


