<div class="animated fadeIn">
    <div class="row" *ngIf="isPatient">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Diagnóstico</strong>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="patient">Paciente:</label>
                            <div class="col-md-9">
                                <select class="form-control" id="patient" [(ngModel)]="patient" name="patient">
                                    <option *ngFor="let pat of patientList" [value]="pat.id">{{pat.friendlyName}}
                                    </option>
                                </select>
                                <span *ngIf="required" class="help-block">*Campo requerido</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="disease">Tipo de Leucemia:</label>
                            <div class="col-md-9">
                                <select class="form-control" id="disease" [(ngModel)]="disease" name="disease">
                                    <option *ngFor="let dis of diseaseList" [value]="dis.id">{{dis.name}}
                                    </option>
                                </select>
                                <span *ngIf="required" class="help-block">*Campo requerido</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="onCards()">
                        <i class="fa fa-dot-circle-o"></i>
                        Aceptar</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpiar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!isPatient">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>General</strong>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">General</label>
                            <div class="col-md-9 col-form-label">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="general.AdvancedPaternalAge" name="AdvancedPaternalAge" id="checkbox1">
                                    <label class="form-check-label" for="checkbox1">
                                        Edad Paterna Avanzada
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="general.MaternalFetalLoss" name="MaternalFetalLoss" id="checkbox2">
                                    <label class="form-check-label" for="checkbox2">
                                        Pérdida Fetal Materna
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="general.XRayExposureAtBirth" name="XRayExposureAtBirth" id="checkbox3">
                                    <label class="form-check-label" for="checkbox3">
                                        Exposición a Rayos X en el Nacimiento
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="general.PreviousChemotherapyOrRadiotherapy" name="PreviousChemotherapyOrRadiotherapy" id="checkbox4">
                                    <label class="form-check-label" for="checkbox4">
                                        Quimioterapia o Radioterapia Previa
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="general.InheritedConditions" name="InheritedConditions" id="checkbox5">
                                    <label class="form-check-label" for="checkbox5">
                                        Afecciones Heredadas
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label">Inline Checkboxes</label>
                            <div class="col-md-9 col-form-label">
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="checkbox" id="inline-checkbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inline-checkbox1">One</label>
                                </div>
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="checkbox" id="inline-checkbox2"
                                        value="option2">
                                    <label class="form-check-label" for="inline-checkbox2">Two</label>
                                </div>
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="checkbox" id="inline-checkbox3"
                                        value="option3">
                                    <label class="form-check-label" for="inline-checkbox3">Three</label>
                                </div>
                            </div>
                        </div> -->
                    </form>
                </div>                
            </div>
        </div>
        <!--/.col-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Signos</strong>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Signos</label>
                            <div class="col-md-9 col-form-label">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="sign.Pallor" name="Pallor" id="checkbox6">
                                    <label class="form-check-label" for="checkbox6">
                                        Palidez
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="sign.EnlargedLiverOrSpleen" name="EnlargedLiverOrSpleen" id="checkbox7">
                                    <label class="form-check-label" for="checkbox7">
                                        Hígado o Bazo Agrandado
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="sign.Infections" name="Infections" id="checkbox8">
                                    <label class="form-check-label" for="checkbox8">
                                        Infecciones
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="sign.Bruises" name="Bruises" id="checkbox9">
                                    <label class="form-check-label" for="checkbox9">
                                        Moretones
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="sign.LumpsInNeckOrUnderArmOrStomachOrGroinArea" name="LumpsInNeckOrUnderArmOrStomachOrGroinArea" id="checkbox10">
                                    <label class="form-check-label" for="checkbox10">
                                        Bultos en la Zona del Cuello, Debajo del Brazo, Estómago o Ingle
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
        <!--/.col-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Síntomas</strong>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Síntomas</label>
                            <div class="col-md-9 col-form-label">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="symptom.ProlongedFever" name="ProlongedFever" id="checkbox11">
                                    <label class="form-check-label" for="checkbox11">
                                        Fiebre Prolongada
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="symptom.BoneAche" name="BoneAche" id="checkbox12">
                                    <label class="form-check-label" for="checkbox12">
                                        Dolor de Huesos
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="symptom.SwellingOfTheLymphNodes" name="SwellingOfTheLymphNodes" id="checkbox13">
                                    <label class="form-check-label" for="checkbox13">
                                        Inflamación de los Ganglios Linfáticos
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="symptom.PetechiaeAndDyspnea" name="PetechiaeAndDyspnea" id="checkbox14">
                                    <label class="form-check-label" for="checkbox14">
                                        Petequias y Disnea
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="symptom.Headache" name="Headache" id="checkbox15">
                                    <label class="form-check-label" for="checkbox15">
                                        Dolor de Cabeza
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="symptom.FeelingTired" name="FeelingTired" id="checkbox16">
                                    <label class="form-check-label" for="checkbox16">
                                        Sensación de Cansancio
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="symptom.LossOfAppetite" name="LossOfAppetite" id="checkbox17">
                                    <label class="form-check-label" for="checkbox17">
                                        Pérdida de Apetito
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
        <!--/.col-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Resultado de Laboratorio</strong>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Resultado de Laboratorio</label>
                            <div class="col-md-9 col-form-label">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="labResult.LeukemicBlasts" name="LeukemicBlasts" id="checkbox18">
                                    <label class="form-check-label" for="checkbox18">
                                        Blastos Leucémicos > 25%
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="labResult.WhiteBloodCellCount" name="WhiteBloodCellCount" id="checkbox19">
                                    <label class="form-check-label" for="checkbox19">
                                        Recuento de Leucocitos > 50000mm³
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="labResult.PositiveCytogeneticAnalysis" name="PositiveCytogeneticAnalysis" id="checkbox20">
                                    <label class="form-check-label" for="checkbox20">
                                        Análisis Citogenético Positivo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
        <!--/.col-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary" style="width:40%;" (click)="onSendCards()">
                        <i class="fa fa-dot-circle-o"></i>
                        Enviar</button>
                    <button type="reset" class="btn btn-danger" style="width:40%;" (click)="onBack()">
                        <i class="fa fa-ban"></i>Regresar</button>                    
                </div>                
            </div>
        </div>
        <!--/.col-->
    </div>
</div>