
<div class="general">
    <div class="rec-1">
        <div class="imagen">
            <img src="assets/img/treatment.png">
        </div>
        <div class="titulo-diagnostico">
            <h1 class="titulo-pediatrico">
                Tratamiento del Cáncer Pediátrico
            </h1>
        </div>
        <div class="imagen-2">
            <img src="assets/img/treatment.png">
        </div>
    </div>
    <div class="rec-5">
        <div class="cancer-leucemia">
            <h2>CÁNCER: LEUCEMIA</h2>
        </div>
    </div>
    <div class="rec-2">
        <div class="titulo-cancer">
            <h2> Leucemia Mieloide Crónica</h2>
        </div>
        <div class="titulo-resultados">
            <h2 class="estadio-nombre">Estado: </h2>
            <h2 class="estadio-positivo">Positivo</h2>   
        </div>
        
    </div>
    <div class="rec-4">
        <div class="descripcion-resultados">
            <hr width="65%"  color="black"/>
         </div>
    </div>
    
    
    <div class="rec-3">
        <!--//! FALTA -->
        <div class="titulo-tratamiento">
            
            <h2>Sugerencias de tratamiento:</h2>
        </div>
        
        <div class="detalle-quimioterapia">
            <div class="fadeTexto">
            <h5>Para este tipo de leucemia, existen los siguientes tratamientos: </h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Terapia dirigida, donde se utilizan medicamentos u otras sustancias con el fin</h5>
            <h5>de poderidentificar y atacar estas células leucémicas. </h5>
            <br>
            <h5>En este tratamiento, existe lo siguiente:</h5>
            <h5> <i class="fas fa-genderless"></i> Inhibidor de la tirosina cinasa (ITC), donde el objetivo es detener la enzima que </h5><h5>permite el crecimiento de estas células cancerosas.</h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Quimioterapia, donde se utiliza los medicamentos para interrumpir la formación</h5><h5>de células leucémicas con el fin de destruirlas.</h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Inmunoterapia, donde se utilizan sustancias generadas por el cuerpo con el fin de producir</h5><h5>en un laboratorio y así aumentar las defensas del paciente.</h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Dosis altas de quimioterapia con trasplante de células madre. Este tipo de tratamientose administra</h5><h5>para destruir las células cancerosas, pero también destruye las células sanas.</h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Infusión de linfocitos de un donante, donde se extrae los linfocitos de la sangre de un donante </h5><h5> y se congelan para su almacenamiento. Para inducir al paciente, se descongela</h5><h5>y se administra mediante infusiones.</h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Cirugía, se realiza la esplenectomía para la extracción del bazo.</h5>
                        <br>
                        <br>
          
        </div>
        
    </div>
</div>


