@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,500;1,400&display=swap');

*{

  padding: 0px;


}
.general{
    margin:auto;
    margin-top: -50px; margin-left: 15px;
 
     /*/*border-style: solid; */
    /*width: 1500px;*/
    /*height: 900px;*/
    width: 1600px;
    height: 1300px;
   /* background-color:aqua;*/
    border-style:groove;
    overflow: hidden;
}
img{
    margin: 1em;
    width: 110px;
    height: 90px;
    border: 5px solid #555;
   /*/*border-style: solid; */
    /*background-color: black;*/ 
}
.imagen-2{
    float: right;
    margin-left: 285px;
}
.rec-1{
    display: flex;
    margin: 1em;
    width: 1550px;
    height: 115px;
/*/*border-style: solid; */
   /* background-color: red;*/
    float:left
    
}

.rec-2{
   
    margin: 1em;
    margin-top: 1px;
    
    width: 1550px;
    height: 75px;
    /*background-color: yellow;*/
    float:left;
   /*border-style: solid; */
   display: flex;
  
  

}

.rec-5{
   
  margin: 1em;
  margin-top: 18px;
  text-align: center;
  width: 1550px;
  height: 75px;
  /*background-color: yellow;*/
  float:left;
 /*/*border-style: solid; */
 display: flex;



}

.cancer-leucemia{
  width: 1550px;
  margin-left: 90px;
  text-align: center;
  font-family: 'Exo', sans-serif;
}
.rec-4{
   
  margin: 1em;
  margin-top: 1px;
  
  width: 1550px;
  height: 30px;
  /*background-color: yellow;*/
  float:left;
 /*/*border-style: solid; */



}

.rec-3{
    margin: 1em;
    margin-top: 5px;
    margin-left: 90px;
    width: 1490px;
    height: 430px;
    /*/*border-style: solid; */
   
    float:left;
  /* overflow: scroll; */

}

.titulo-cancer{
    margin: 1em;
    margin-top: 20px;
    margin-left: 80px;
    width: 700px;
    height: 60px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
 
      /*border-style: solid; */
    /*background-color: green;*/
}
.estadio-nombre{
  margin-left: 155px;
  font-family: 'Exo', sans-serif;
}
.estadio-positivo{
  font-family: 'Dela Gothic One', cursive;
  font-weight: 600;
  margin-left: 10px;  
  color: #ec0303;
}
.titulo-resultados{
    margin: 1em;
    margin-top: 20px;
    margin-left: 390px;
    width: 700px;
    height: 60px;
    text-align:center;
    font-family: 'Exo', sans-serif;
    display: flex;
    /*border-style: solid; */
 
    /*background-color: green;*/
}

hr{
    text-align: center;
    border: 2px solid ;
}

.fase{
    font-family: 'Zilla Slab Highlight', cursive;
    /* font-family: 'Exo', sans-serif; */
     font-weight: 400;

}
.descripcion-resultados{
    margin: 1em;
    margin-top: 15px;
    margin-left: 45px;
    font-family: 'Zilla Slab Highlight', cursive;
   /* font-family: 'Exo', sans-serif; */
    font-weight: 400;
    width: 1450px;
    height: 60px;
    text-align: center;
      /*/*border-style: solid; */
     
    
   /* font-family: 'Exo', sans-serif; */
   
  
    /*background-color: green;*/
}

.titulo-pediatrico{
    margin-top: 27px;
    margin-left: 380px;
    display: inline-block;
    position: relative;
    font-family: 'Dela Gothic One', cursive;
   text-align: center;
    /*/*border-style: solid; */
}

.titulo-pediatrico::after,.titulo-pediatrico::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: black;
    top:0.6em;
    transform: scale(0);
    transition: all 0.4s ease-in;
}

.titulo-pediatrico:hover::before, .titulo-pediatrico:hover::after{
    transform: scale(1);
}

.titulo-pediatrico::before{
    left: -70px;
}
.titulo-pediatrico::after{
    right: -70px;
}


.titulo-tratamiento{
    margin: 1em;
    margin-top: 20px;
    margin-left: 25px;
    width: 1450px;
    height: 60px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
 
      /*/*border-style: solid; */
    /*background-color: green;*/
}

.titulo-quimioterapia{
    margin: 1em;
    margin-top: 20px;
    margin-left: 25px;
    width: 1450px;
    height: 60px;
    text-align: center;
    font-family: 'Zilla Slab Highlight', cursive;
   /* font-family: 'Exo', sans-serif; */
    font-weight: 400;
 
      /*/*border-style: solid; */
    /*background-color: green;*/
}

.quimio-tep{
margin-left: 20px;
}
.sub-quimio-tep{
  margin-left: 36px;
}

.detalle-quimioterapia{
    margin: 1em;
    margin-top: 10px;
    margin-left: 240px;
    width: 925px;
    height: 300px;
    text-align: left;
      /*/*border-style: solid; */
      font-family: 'Exo', sans-serif;
    /*background-color: green;*/

}

.fadeTexto{
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
