
<div class="general">
    <div class="rec-1">
        <div class="imagen">
            <img src="assets/img/treatment.png">
        </div>
        <div class="titulo-diagnostico">
            <h1 class="titulo-pediatrico">
                Tratamiento del Cáncer Pediátrico
            </h1>
        </div>
        <div class="imagen-2">
            <img src="assets/img/treatment.png">
        </div>
    </div>
    <div class="rec-5">
        <div class="cancer-leucemia">
            <h2>CÁNCER: LEUCEMIA</h2>
        </div>
    </div>
    <div class="rec-2">
        <div class="titulo-cancer">
            <h2> Leucemia Linfoblástica Aguda</h2>
        </div>
        
        <div class="titulo-resultados">
            <h2 class="estadio-nombre">Estado: </h2>
            <h2 class="estadio-positivo">Positivo</h2>   
        </div>
        
    </div>
    <div class="rec-4">
        <div class="descripcion-resultados">
            <hr width="65%"  color="black"/>
         </div>
    </div>
    
    
    <div class="rec-3">
        <!--//! FALTA -->
        <div class="titulo-tratamiento">
            
            <h2>Sugerencias de tratamiento:</h2>
        </div>
        
        <div class="detalle-quimioterapia">
            <div class="fadeTexto">
            <h5>Los tratamiento para este tipo de leucemia recomendables son los siguientes:</h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Quimioterapia, donde se utilizan medicamentes con el fin de interrumpir la formación
                de células cancerosas. </h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Radioterapia, tratamiento donde se utilizan rayos X de alta energía u otros tipos de
                radiación para destruir las células cancerosas. </h5>
            <br>
            <h5>Existen dos tipos de radioterapia: </h5>
            <h5> <i class="fas fa-genderless"></i> Radioterapia externa, donde se utiliza una maquina que envía la radiación hacia
                el cáncer desde el exterior del cuerpo.</h5>
            <h5> <i class="fas fa-genderless"></i> Radioterapia interna, donde se utiliza una sustancia radioactiva que se coloca
                directamente en el cáncer o cerca de este. </h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Quimioterapia con trasplante de células madre, donde se administran para la
                destrucción de las células cancerosas.</h5>
                <h5>Este tipo de tratamiento destruye las células sanas como también las células formadoras de sangre. </h5>
            <br>
            <h5><i class="fas fa-angle-right"></i> Terapia dirigida, donde se utilizan medicamente u otras sustancias con el fin de
                identificar y atacar  </h5>
                <h5>células cancerosas especificas sin dañar las células normales.</h5>

                <br>
                <h5> Existen
                    tres tipos a considerar: </h5>
               
                <h5> <i class="fas fa-genderless"></i> Inhibidor de la tirosina cinasa (ITC), donde este medicamento impide la acción
                    de la enzima tirosina cinasa.</h5>
                <h5> <i class="fas fa-genderless"></i> Inhibidor del proteasoma, donde impide la acción de los proteasomas en las
                    células cancerosas.  </h5>
                    <h5><i class="fas fa-genderless"></i> Terapia con anticuerpos monoclonales, donde se utilizan anticuerpos
                        producidos en un laboratorio </h5>
                        <h5> desde un  tipo de células del sistema inmunitario.  </h5>
                        <br>
                        <br>
          
        </div>
        
    </div>
</div>


